{% extends "blog/layout.html" %}

{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-blogpage{% endblock %}
{% block meta-data %}

{% load blog_tools %}

    <meta name="keywords" content="
    {% if page.tags.all.count %}        
        {% for tag in page.tags.all %}
            {{ tag }}
        {% endfor %}
    {% endif %}
    ">

{% endblock %}

{% block display %}

    <h1>{{ page.title }}</h1>
<!--    <p class="meta">{{ page.date }}</p>   -->

    <p class="description">{{ page.description }}</p>

    {% with categories=page.categories.all %}
        {% if categories %}
            <div class="row">
                <div class="col-sm-2">
                    <h3>Category: </h3>
                </div>

                <div class="col-sm-10">
                    <ul>
                    {% for category in categories %}
                        <li>
                            {% image category.icon fill-32x32 style="vertical-align: middle" %}
                            {{ category.name }}
                        </li>
                    {% endfor %}
                   </ul>
                </div>
            </div>

        {% endif %}
    {% endwith %}

    <div style="clear:both"></div>
    <br>

    {% comment %} {{ page.body|richtext }} {% endcomment %}
    <p>Response:</p>
 
    {{ message|richtext }}

    <p></p>

    {% if page.tags.all.count %}
        <div class="tags">
        <h3>Tags</h3>
        {% for tag in page.tags.all %}
            <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
        </div>
    {% endif %}

    <p><a href="{{ page.url }}">Reload page</a></p>

{% endblock %}
